@using Sitecore.Feature.Blocks
@using Sitecore.Feature.Blocks.Models
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Models.Extensions
@using Glass.Mapper.Sc.Web.Mvc

@inherits GlassView<IAccordion>

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <fieldset>
        <legend><strong>Accordion details</strong></legend>

        <p>This section will not be output on the public site, it is only available for content editors to edit parts of this control.</p>

        @Html.Sitecore().DynamicPlaceholder("accordion-list")
    </fieldset>
}
else
{
    <ul class="accordion"
        data-accordion
        data-allow-all-closed="true"
        data-multi-expand="true">
        @Html.Sitecore().DynamicPlaceholder("accordion-list")
    </ul>
}
