@using Sitecore.Feature.Blocks
@using Sitecore.Feature.Blocks.Models
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Models.Extensions
@using Glass.Mapper.Sc.Web.Mvc

@inherits GlassView<IAudio>

@if (!Model.IsDerived(Templates.Audio.ID))
{
    @Html.ShowRenderingAlert(nameof(Templates.Audio))
    return;
}

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <fieldset>
        <legend><strong>Audio details</strong></legend>

        <p>This section will not be output on the public site, it is only available for content editors to edit parts of this control.</p>

        @using (Html.Glass().BeginEditFrame(Model, "Edit Audio", model => model.Source))
        {
            <text>Edit Audio</text>
        }
    </fieldset>
}

@if (Model.Source != null)
{
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="@Model.Source.Url"></iframe>
}
