@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <fieldset>
        <legend><strong>Carousel details</strong></legend>

        <p>This section will not be output on the public site, it is only available for content editors to edit parts of this control.</p>

        @Html.Sitecore().DynamicPlaceholder("carousel-slides")
    </fieldset>
}
else
{
    <div class="carousel">
        <div class="carousel__inner">
            <ul class="carousel__slides">
                @Html.Sitecore().DynamicPlaceholder("carousel-slides")
            </ul>
        </div>
        <a class="carousel__prev" href="javascript:;"></a>
        <a class="carousel__next" href="javascript:;"></a>
    </div>
}

