@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models
@inherits GlassView<IContentSection>
@{
    var parameters = GetRenderingParameters<IRenderingParameters_ContentSection>();
    var showPanelBox = parameters != null && parameters.ShowPanelBox;
}
<section class="content-section">
    @if (showPanelBox)
    {
        @: <div class="content-section__box">
    }
    <h2 class="h3 content-section__title">@Editable(x => x.SectionTitle)</h2>
    <div class="grid-x grid-padding-x">
        @Html.Sitecore().DynamicPlaceholder("cells")
    </div>
    @if (showPanelBox)
    {
        @: </div>
    }
</section>
