<div class="hero-banner" ng-herobanner="">

    <div class="hero-banner__slides slick-initialized slick-slider slick-dotted">
        <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 8400px; transform: translate3d(-1680px, 0px, 0px);">
                <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 1680px;" tabindex="-1">
                    <div>
                        <div class="hero-banner__slide" style="background-image: url(&quot;https://unsplash.it/1600/800?random&quot;); width: 100%; display: inline-block;">
                            <div class="row">
                                <div class="column small-12">
                                    <h1 class="hero-banner__title">
                                        Heading text goes here
                                    </h1>

                                    <p class="hero-banner__description">
                                        n publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements of a graphic document or visual presentation.
                                    </p>


                                    <a class="hero-banner__link button button--arrow" href="#" tabindex="-1">
                                        View the things
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1680px;" role="tabpanel" id="slick-slide00">
                    <div>
                        <div class="hero-banner__slide" style="background-image: url(&quot;https://www.scenic.com.au/CMSPages/GetFile.aspx?guid=b85f254b-3e8c-4046-920f-ef851de14f0e&quot;); width: 100%; display: inline-block;">
                            <div class="row">
                                <div class="column small-12">
                                    <h1 class="hero-banner__title">
                                        2018 Canada, Alaska and USA Tours
                                    </h1>

                                    <p class="hero-banner__description">
                                        Secure the best possible deal on a 2018 Canada, Alaska &amp; USA tour. You could fly from only $995 per person*. Book by 15 December to secure our Luxury Sale offers.
                                    </p>


                                    <a class="hero-banner__link button button--arrow" href="#" tabindex="0">
                                        View the offers
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1680px;" tabindex="-1" role="tabpanel" id="slick-slide01">
                    <div>
                        <div class="hero-banner__slide" style="background-image: url(&quot;https://unsplash.it/1600/800?random&quot;); width: 100%; display: inline-block;">
                            <div class="row">
                                <div class="column small-12">
                                    <h1 class="hero-banner__title">
                                        Heading text goes here
                                    </h1>

                                    <p class="hero-banner__description">
                                        n publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements of a graphic document or visual presentation.
                                    </p>


                                    <a class="hero-banner__link button button--arrow" href="#" tabindex="-1">
                                        View the things
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" style="width: 1680px;" tabindex="-1">
                    <div>
                        <div class="hero-banner__slide" style="background-image: url(&quot;https://www.scenic.com.au/CMSPages/GetFile.aspx?guid=b85f254b-3e8c-4046-920f-ef851de14f0e&quot;); width: 100%; display: inline-block;">
                            <div class="row">
                                <div class="column small-12">
                                    <h1 class="hero-banner__title">
                                        2018 Canada, Alaska and USA Tours
                                    </h1>

                                    <p class="hero-banner__description">
                                        Secure the best possible deal on a 2018 Canada, Alaska &amp; USA tour. You could fly from only $995 per person*. Book by 15 December to secure our Luxury Sale offers.
                                    </p>


                                    <a class="hero-banner__link button button--arrow" href="#" tabindex="-1">
                                        View the offers
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 1680px;" tabindex="-1">
                    <div>
                        <div class="hero-banner__slide" style="background-image: url(&quot;https://unsplash.it/1600/800?random&quot;); width: 100%; display: inline-block;">
                            <div class="row">
                                <div class="column small-12">
                                    <h1 class="hero-banner__title">
                                        Heading text goes here
                                    </h1>

                                    <p class="hero-banner__description">
                                        n publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual elements of a graphic document or visual presentation.
                                    </p>


                                    <a class="hero-banner__link button button--arrow" href="#" tabindex="-1">
                                        View the things
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 2" tabindex="-1">2</button></li></ul>
    </div>



    <div class="countdown">
        <div class="row">
            <div class="column small-12">
                <div class="countdown__inner">
                    <div class="countdown__box">
                        <p class="countdown__title">
                            Special Offer
                        </p>
                        <p class="countdown__content">
                            When the going gets weird, the weird turn pro.
                        </p>
                        <a class="countdown__link" href="#" title="Read more"></a>
                        <div class="countdown__time">
                            <div class="countdown__segment">
                                <span class="countdown__number">0</span>
                                <span class="countdown__number">0</span>
                                <span class="countdown__label">Days</span>
                            </div>
                            <div class="countdown__separator">:</div>
                            <div class="countdown__segment">
                                <span class="countdown__number">0</span>
                                <span class="countdown__number">0</span>
                                <span class="countdown__label">Hours</span>
                            </div>
                            <div class="countdown__separator">:</div>
                            <div class="countdown__segment">
                                <span class="countdown__number">0</span>
                                <span class="countdown__number">0</span>
                                <span class="countdown__label">Mins</span>
                            </div>
                            <div class="countdown__separator">:</div>
                            <div class="countdown__segment">
                                <span class="countdown__number">0</span>
                                <span class="countdown__number">0</span>
                                <span class="countdown__label">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
