@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models

@inherits GlassView<IPageBanner>

<div class="page-intro" style="">
    <div class="grid-x">
        <div class="cell small-12 medium-8 page-intro__text">
            <div class="grid-x grid-padding-x">
                <div class="cell medium-12 large-10">
                    <div class="page-intro__breadcrumb">
                        @Html.Sitecore().Placeholder("breadcrumb")
                    </div>
                    @Html.Sitecore().Placeholder("header-pre-title")
                    <h1 class="page-intro__title h2">
                        @Editable(model => model.Title)
                    </h1>
                    @Html.Sitecore().Placeholder("header-post-title")
                </div>
            </div>
        </div>
    </div>
</div>
