@using Sitecore.Feature.Blocks
@using Sitecore.Feature.Blocks.Models
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Models.Extensions
@using Glass.Mapper.Sc.Web.Mvc

@inherits GlassView<IQuote>

@if (!Model.IsDerived(Templates.Quote.ID))
{
    @Html.ShowRenderingAlert(nameof(Templates.Quote))
    return;
}

<blockquote class="quote-box">
	<p><i class="icon-quote "></i></p>
	<p>@Editable(model => model.Body)</p>
	<footer class="quote-box__footer">
		@if (!string.IsNullOrEmpty(Model.Author) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <span class="quote-box__name">@Editable(model => model.Author)</span><br/>
        }
		@if (!string.IsNullOrEmpty(Model.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <span class="quote-box__title">@Editable(model => model.Title)</span>
        }
	</footer>
</blockquote>
