@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models

@inherits GlassView<IResource>

<div>
    @Editable(model => model.Title)
    <a href="@(Model.File?.Src)">
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            using (Html.Glass().BeginEditFrame(Model, "Edit", model => model.File))
            {
                <div>Edit file</div>
            }
        }
        <i class="icon-download "></i> (Download)
    </a>
</div>
