@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models

@inherits GlassView<IResource>
<li>
    <a href="@(Model.File?.Src)" class="resource-list__item" target="_blank">
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            using (Html.Glass().BeginEditFrame(Model, "Edit", model => model.File))
            {
                <div>Edit file</div>
            }
        }
        <span class="resource-list__type"></span>
        <span class="resource-list__title"> @Editable(model => model.Title)</span>
        <i class="icon icon-download"></i>
    </a>
</li>
