@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Feature.Blocks.Models

@inherits GlassView<IResourceLink>
<li>
    <a href="@(Model.Link?.Url)" target="_blank">
        @if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            using (Html.Glass().BeginEditFrame(Model, "Edit", model => model.Link))
            {
                <div>Edit file</div>
            }
        }
        <span class="resource-list__title"> @Editable(model => model.Title)</span>
        <i class="icon icon-link"></i>
    </a>
</li>
