@using Sitecore.Feature.Blocks
@using Sitecore.Feature.Blocks.Models
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Models.Extensions
@using Glass.Mapper.Sc.Web.Mvc

@inherits GlassView<IVideo>

@if (!Model.IsDerived(Templates.Video.ID))
{
    @Html.ShowRenderingAlert(nameof(Templates.Video))
    return;
}

@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <fieldset>
        <legend><strong>Video details</strong></legend>

        <p>This section will not be output on the public site, it is only available for content editors to edit parts of this control.</p>

        @using (Html.Glass().BeginEditFrame(Model, "Edit Video", model => model.YoutubeVideoId, model => model.Transcript))
        {
            <text>Edit video</text>
        }
    </fieldset>
}

@if (!string.IsNullOrEmpty(Model.YoutubeVideoId))
{
    <div class="responsive-embed ">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/@(Model.YoutubeVideoId)" frameborder="0" allowfullscreen></iframe>
    </div>
    if(Model.Transcript != null)
    {
        <a href="@Model.Transcript.Src" title="Download video transcript" target="_blank">Transcript</a>
    }
}
