<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Blocks" description="Feature Blocks" extends="Helix.Feature">
          <predicate>
            <include name="Placeholder Settings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Blocks" />
            <include name="System Settings" database="master" path="/sitecore/system/Settings/Feature/Blocks" />
            <include name="Html Editor Profiles" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Medium" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
